<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#ffffff">
   <title><%=title%></title>
</head>
<body>

   <div class="header-mobile hide-desktop" id="header_mobile">
      <div class="container">
          <div class="header-mobile-content">
            <div class="header-mobile__icons-wrapper">
               <i class="icon icon-cart"></i>
               <i class="icon icon-profile" id="header_profile_icon"></i>
               <div class="user-select hide">
                  <span><a href="#">Мой профиль</a></span>
                  <span><a href="#">Выйти</a></span>
               </div>
            </div>
              <a href="/" class="logo-mobile"></a>
              <div class="header-mobile-content__language-block">
               <span id="laguage_select_mobile" value="1">Русский</span>
               <i class="icon icon-arrow-down-header"></i>
               <div class="languages hide">
                  <span value="1">Русский</span>
                  <span value="2">English</span>
                  <span value="3">Italian</span>
               </div>
              </div>
          </div>
      </div>
   </div>


   <div class="body">
      <div class="header hide-mobile">
         <div class="container">
            <div class="header-content">
              <a href="/" class="logo"></a>
               <div class="header-ui">
                  <div class="header-ui__cart">
                     <i class="icon icon-cart"></i>
                     <span>Корзина</span>
                     <p class="header-ui__count hide">100</p>
                  </div>
                  <div class="header-ui__user">
                     <i class="icon icon-profile"></i>
                     <span id="header_email">username@mail.com</span>
                     <div class="user-select hide">
                        <span><a href="#">Мой профиль</a></span>
                        <span><a href="#">Выйти</a></span>
                     </div>
                  </div>
                  <div class="header-ui__language">
                   <div class="custom-select">
                     <span id="laguage_select" value="1">Русский</span>
                   </div>
                     <i class="icon icon-arrow-down-header"></i>
                  </div>
                  <div class="languages hide">
                     <span value="1">Русский</span>
                     <span value="2">English</span>
                     <span value="3">Italian</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
