<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

    <div class="header-mobile-margin hide-desktop"></div>

      <div class="section">
         <div class="container">
            <div class="catalogue-title">
               <h1 class="no-margin-bottom">Каталог весна-лето 2021</h1>
               <p class="color-dangerous hide-mobile">Срок окончания приема заказов: 16.02.2022</p>
            </div>
            <div class="catalogue-filters">
               <div class="filter-item active" data-filter="0">
                  Все
               </div>
               <div class="filter-item" data-filter="1">
                  Поло
               </div>
               <div class="filter-item" data-filter="2">
                  Рубашки
               </div>
               <div class="filter-item" data-filter="3">
                  Куртки
               </div>
               <div class="filter-item" data-filter="4">
                  Джинсы и шорты
               </div>
               <div class="filter-item" data-filter="5">
                  Спортивные костюмы
               </div>
               <div class="filter-item" data-filter="6">
                  Футболки
               </div>
            </div>
            <div class="catalogue" id="catalogue_list_block"></div>
         </div>
      </div>