<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

<div class="modal-window">
   <div class="restore-wrapper">
      <form action="#restore_pass" id="restore_form" class="restore_form">
         <div class="headline-1 margin-bottom-11px">Восстановить пароль</div>
         <label class="field field-input item email-label">
            <input class="input-text placeholder validate" id="restore_email"
               data-placeholder="Электронная почта" data-validate="email"
               type="email" name="restore_form_name">
             <p class="error-message hide"></p>
        </label>
   
         <button class="button margin-bottom-22px" type="submit">Получить пароль</button>
         <div class="enter-link">
            <a href="/login.html">Войти</a>
         </div>
         </form>
   
         <div class="loader-wrap restore-loader hide" id="restore_loader">
            <div class="loader-block">
               <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
         </div>
   
         <div class="form-message-wrapper">
            <div class="form-message hide">
               <div class="form-info">
                  <span class="message-icon error form-icon-cancel"><i class="icon icon-warning"></i></span>
                  <p class="message-title"></p>
                  <p class="message-subtitle"></p>
                  <button class="button" id="close_error"></button>
               </div>
            </div>
            <div class="form-message-success hide">
               <div class="form-info-success">
                  <p class="message-title"></p>
                  <p class="message-subtitle"></p>
                  <button class="button" id="close_error"></button>
               </div>
            </div>
        </div>
   </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>