<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

    <div class="header-mobile-margin hide-desktop"></div>


    <div class="section">
        <div class="container">
            <h1>Каталог весна-лето 2021</h1>
          <div>
            <div class="switcher-control">
                <label class="switcher-view">
                    <input type="checkbox" data-toggle-view="">
                    <div class="bg-slide-item"></div>
                    <div class="item view-card">
                        <div class="icon icon-squares"></div>
                    </div>
                    <div class="item view-row">
                        <div class="icon icon-lines"></div>
                    </div>
                </label>
               </div>
    
               <div class="switcher">
                <label class="switcher-gray">
                    <input type="checkbox" data-toggle-view="">
                    <div class="bg-slide-item"></div>
                </label>
               </div>
               <div class="switcher">
                <label class="switcher-gray">
                    <input type="checkbox" data-toggle-view="">
                    <div class="bg-slide-item"></div>
                </label>
               </div>
          </div>

           <div class="checkbox-container">
            <input type="checkbox" class="custom-checkbox" id="custom">
            <label for="custom"></label>
        </div>

        <div class="filter-item active">
            Джинсы
        </div>
        <div class="filter-item">
            Спортивные костюмы
        </div>
        <label class="field">
            <input class="input-text placeholder validate ready" value="" placeholder="Placeholer" autocomplete="off" 
            autocorrect="off" autocapitalize="none">
        </label>

        <div class="field-count">
            <label class="field numberic">
                <input class="input-count placeholder validate" value="" 
                data-placeholder="0" data-validate="number" type="number"
                maxlength="3">
                <span>шт</span>
            </label>
        </div>
       
        <div class="hr-dashed"></div>
        <br>
        <br>
        <br>
        <div class="hr"></div>

        <div class="size-button">
            <span class="size-button__size">48</span>
            <span class="size-button__price">1 500 €</span>
        </div>

        </div>
    </div>
    





<%= _.template(require('./../includes/footer.html').default)(data) %>