html {
   margin: 0;
   padding: 0;
   font-family: $fontBase;
   font-size: 10px;
   font-weight: 500;
   color: #000000;
   height: 100%;
   min-height: 300px;
   background: #fff;
   -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 960px) {
   html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
   }
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 0;
   min-height: 100%;
   margin: 0;
   background: #fff;
}

* {
   outline: none;
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   margin: 0;
   padding: 0;
}

.body {
   flex: 1 0 auto;
   position: relative;
   z-index: 100;
   width: 100%;

}

.container {
   margin: 0 auto;
   max-width: 1300px;
   padding: 1px 10px;

   &.h-100 {
      height: 100%;
   }

   @include mobile {
      padding: 1px 12px;
   }
}