.size-button{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   width: 47px;
   height:34px;
   color: black;
   background-color:$colorGray5;
   border-radius: 2px;

   @include mobile{
      width: 61px;
      height:44px;
   }

   .size-button__size{
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      font-weight: 600;

      @include mobile{
         font-size: 15px;
         line-height: 19px;
      }
   }

   .size-button__price{
      font-size: 10px;
      line-height: 152%;
      text-align: center;

      @include mobile{
         font-size: 13px;
         line-height: 20px;
      }
   }

   &.active{
      color: white;
      background-color:black;
   }

   &.inactive{ 
      color: $colorGray4;
      background-color:white;
   }
}

.round-color{
   width: 21px;
   height:21px;
   border-radius:50%;

   @include mobile{
     width: 24px;
     height:24px;
   }
}