.catalogue-title {
   display: block;
   position: relative;
   width: 100%;

   h1 {
      @include mobile {
         font-size: 24px;
         line-height: 31px;
      }
   }
}

.catalogue-filters {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   margin-bottom: 10px;

   @include mobile {
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
   }

   .filter-item {
      margin-right: 10px;
      margin-bottom: 10px;

      @include mobile {
         font-size: 14px;
         padding: 8px 16px;
         margin-right: 8px;
      }
   }

   .filter-item:last-child {
      margin-right: 0;
   }
}

.catalogue {
   display: flex;
   position: relative;
   flex-wrap: wrap;
   width: calc(100% + 25px);

   @include mobile {
      width: 105%;
   }

   .catalogue-card {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 236px;
      height: 430px;
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      margin-right: 25px;
      margin-bottom: 35px;

      @include tablet {
         height: auto;
         margin-right: 12px;
         margin-bottom: 12px;
         padding: 11px;
         width: 30.7%;
      }

      @include only-mobile {
         width: 46%;
         height: auto;
         margin-right: 12px;
         margin-bottom: 12px;
         padding: 11px;
      }

      .catalogue-card__image {
         display: block;
         position: relative;
         width: 216px;
         height: 311px;
         background-image: url('../img/man.jpg');
         background-repeat: no-repeat;
         background-position: center center;
         background-size: contain;

         @include mobile {
            width: 100%;
            height: auto;
         }
      }

      .catalogue-card__name {
         margin-top: 7px;
         margin-bottom: 0px;

         @include mobile {
            font-size: 14px;
            margin-top: 11px;
         }
      }

      .catalogue-card__description {
         @extend .body-12;
         color: $colorGray2;

         @include mobile {
            font-size: 12px;
         }
      }

      .hr-dashed {
         margin-top: 18px;
         margin-bottom: 10px;
         background-image: linear-gradient(90deg, #cfcfcf 55%, hsla(0, 0%, 100%, 0) 0);

         @include mobile {
            margin-bottom: 11px;
            margin-top: 11px;
         }
      }

      .catalogue-card__price-block {
         display: flex;
         position: relative;
         justify-content: space-between;
         align-items: center;

         span {
            @include mobile {
               font-size: 14px;
            }
         }

         i {
            transform: rotate(-90deg);
            font-size: 12px;
            width: 12px;
            height: 7px;
         }
      }
   }

   /* .catalogue-card:nth-child(5n) {
      margin-right: 0px;
   } */
}