.checkbox-container{
   display: block;
   position: relative;
   width: 22px;
   height: 22px;

   input{
      position: absolute;
      z-index: -1;
      opacity: 0;
   }

   input+label{
      display: inline-flex;
      align-items: center;
      user-select: none;
   }

   .custom-checkbox+label::before {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #CFCFCF;
      box-sizing: border-box;
      border-radius: 6px;
      margin-right: 0.5em;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
      @include desktop{
         border: 1px solid rgba(176, 176, 176, 1);
      }
    }

    .custom-checkbox:checked+label::before {
      border:none;
      background-color: black;
      background-image: url("../img/icons/checked-white.svg");
      background-repeat: no-repeat;
      background-size: inherit;
   }
}