.headline-1{
   font-size:34px;
   font-weight: 600;
   line-height:44px;
   font-family: $fontBase;
}

.headline-2{
   font-size:28px;
   font-weight: 600;
   line-height:36px;
   font-family: $fontBase;
}

.headline-3{
   font-size:24px;
   font-weight: 600;
   line-height:31px;
   font-family: $fontBase;
}

.headline-4{
   font-size:20px;
   font-weight: 600;
   line-height:26px;
   font-family: $fontBase;
}

.headline-5{
   font-size:16px;
   font-weight: 600;
   line-height:21px;
   font-family: $fontBase;
}

.headline-6{
   font-size:14px;
   font-weight: 600;
   line-height:18px;
   font-family: $fontBase;
}

.body-18{
   font-size:18px;
   font-weight: normal;
   line-height:152%;
   font-family: $fontBase;
}

.body-16{
   font-size:16px;
   font-weight: normal;
   line-height:152%;
   font-family: $fontBase;
}

.body-14{
   font-size:14px;
   font-weight: normal;
   line-height:21px;
   font-family: $fontBase;
}

.body-12{
   font-size:12px;
   font-weight: normal;
   line-height:152%;
   font-family: $fontBase;
}

.overline{
   font-family: $fontBase;
   font-size:11px;
   font-weight: 600;
   line-height: 14px;
   letter-spacing: 0.33px;
   text-transform: uppercase ;
}