.filter-item {
  @extend .body-16;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 22px;
  padding: 10px 20px;
  width: fit-content;
  user-select: none;
  cursor: pointer;

  &.active {
    border: 1px solid transparent;
    color: white;
    background-color: black;
  }

  @include mobile {
    white-space: nowrap;
  }
}