.header-mobile {
   height: 60px;
   display: block;
   position: fixed;
   z-index: 900;
   left: 0;
   right: 0;
   top: 0;
   background: white;
   border-bottom: 1px solid rgba(239, 239, 239, 1);

   &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
   }

   &-margin {
      margin: 0;
      height: 60px;
   }

   .header-mobile__icons-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;

      .icon-cart,
      .icon-profile {
         font-size: 18px;
         width: 44px;
         height: 44px;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .icon-cart {
         margin-right: 7px;
      }

      .user-select {
         background: #fff;
         bottom: -67px;
         display: flex;
         flex-direction: column;
         left: 59px;
         position: absolute;
         white-space: nowrap;
         padding: 10px;
         border-radius: 4px;

         span a {
            font-size: 12px;
            line-height: 20px;
         }
      }
   }

   .logo-mobile {
      display: block;
      margin: 0;
      width: 72px;
      height: 27.5px;
      background: url('../img/logo-mobile.svg') no-repeat center;
      background-size: contain;
      align-self: center;
   }

   .header-mobile-content__language-block {
      min-width: 95px;
      text-align: end;
      display: block;
      position: relative;

      span {
         @extend .body-12;
      }

      i {
         font-size: 7px;
         transform: rotate(0);

         &.rotate {
            transform: rotate(180deg);
         }
      }

      .languages {
         background-color: #fff;
         border-radius: 4px;
         cursor: pointer;
         padding: 10px;
         position: absolute;
         left: 27px;
         top: 38px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;

         span {
            line-height: 20px;
         }
      }
   }
}