@charset "UTF-8";

@font-face {
  font-family:"prima";
  src:url('../fonts/prima.eot?v=2');
  src:url('../fonts/prima.eot?#iefix&v=2') format("embedded-opentype"),
  url('../fonts/prima.woff?v=2') format("woff"),
  url('../fonts/prima.ttf?v=2') format("truetype"),
  url('../fonts/prima.svg#mnedali?v=2') format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[data-icon]:before {
   font-family: "prima" !important;
   content: attr(data-icon);
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 [class^="icon-"]:before,
 [class*=" icon-"]:before,
 .choices[data-type*=select-one]:after,
 .toggler:after {
   font-family: "prima" !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-full-screen{
   content: "\e900";
}

.icon-checked-white{
   content: "\e901";
}

.icon-arrow-down:before{
   content: "\e903";
}

.icon-arrow-down-header:before{
   content: "\e904";
}

.icon-cart:before{
   content: "\e905";
}

.icon-checked:before{
   content: "\e906";
}

.icon-close:before{
   content: "\e907";
}

.icon-close-eye:before{
   content: "\e908";
}

.icon-eye:before{
   content: "\e909";
}

.icon-lines:before{
   content: "\e90a";
}

.icon-profile:before{
   content: "\e90b";
}

.icon-squares:before{
   content: "\e90c";
}

.icon-warning:before{
   content: "\e90d";
}
 