form {
   position: relative;
}

input,
textarea {
   font-family: $fontBase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

.field {
   position: relative;
   display: block;

   .label {
      @extend .body-16;
      display: none;
      width: auto;
      position: absolute;
      z-index: 20;
      margin-top: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      color: $colorGray3;
      top: 18px;
      left: 12px;
   }

   &.numberic {
      .label {
         display: inline-block;
         top: 50%;
         transform: translateY(-50%);
      }
   }

   /* &.numberic.empty{
      .label{
         display: inline-block;
      }
   } */

   &.empty {
      .label {
         display: inline-block;
      }

      .input-text {
         border-bottom: 1px solid $colorGray3;
         color: $colorGray3;
      }
   }

   &.success {
      .input-text {
         border-bottom: 2px solid black;
      }
   }

   &.error {
      .input-text {
         border-bottom: 2px solid $colorDangerous;
         color: $colorDangerous;
      }
   }

   .error-message {
      color: $colorDangerous;
      position: absolute;
      z-index: 1;
   }


}

.input-text {
   @extend .body-16;
   border: none;
   width: 100%;
   height: 61px;
   padding-left: 12px;
   border-bottom: 1px solid $colorGray3;

   &:hover {
      @include desktop {
         border-bottom: 1px solid $colorGray2;
      }
   }

   &:focus {
      border-bottom: 2px solid black;
   }

   &.error {
      color: $colorDangerous;
      border-bottom: 2px solid $colorDangerous;
   }
}

.field-count {
   .input-count {
      @extend .body-16;
      border: none;
      width: 57px;
      height: 48px;
      padding-left: 12px;
      border-radius: 8px;
      margin-right: 7px;
      position: relative;

      &::placeholder {
         color: black;
      }

      &:focus {
         border: 1px solid #41A0FF;
         box-shadow: 0 0 0 0 #fff, 0 0 0 4px #a5c3f1;
      }

      &:active {
         border: 1px solid #41A0FF;
      }
   }

   span {
      @extend .body-16;
   }

}

.login-form {
   position: relative;
   background: #ffffff;
}

.form-message {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 100px;
   left: 50%;
   transform: translateX(-50%);
   width: 626px;
   height: 287px;
   background: #ffffff;
   transition-delay: 1s;

   * {
      /*  transform: translateY(100%);
      opacity: 0;
      transition: .6s linear; */
   }

   .form-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .message-icon {
      display: flex;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 auto;
      transition-delay: 0.7s;

      i {
         font-size: 30px;
         color: $colorDangerous;
         width: 100%;
         height: 100%;
      }
   }

   .message-title {
      @extend .headline-4;
      text-align: center;
      margin-bottom: 0;
      margin-top: 14px;
   }

   .message-subtitle {
      @extend .body-16;
      margin-top: 0;
      text-align: center;
      color: $colorGray3;
      margin-bottom: 40px;
   }

   .button {
      width: 166px;
   }

   &-success {

      .message-title {
         @extend .headline-1;
         margin-bottom: 5px;
      }

      .message-subtitle {
         @extend .body-16;
         margin: 0;
         margin-bottom: 24px;
         color: $colorGray2;
      }
   }
}