.loader-wrap {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: #ffffff;

   &.login-loader,
   &.restore-loader{
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translateY(-50%) translateX(-50%);
   }

}

@keyframes loader-block {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.loader-block div {
  left: 97px;
  top: 75px;
  position: absolute;
  animation: loader-block linear 1s infinite;
  background: #3a3a3a;
  width: 6px;
  height: 14px;
  border-radius: 3px / 4.34px;
  transform-origin: 3px 25px;
}.loader-block div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8888888888888888s;
  background: #3a3a3a;
}.loader-block div:nth-child(2) {
  transform: rotate(40deg);
  animation-delay: -0.7777777777777778s;
  background: #3a3a3a;
}.loader-block div:nth-child(3) {
  transform: rotate(80deg);
  animation-delay: -0.6666666666666666s;
  background: #3a3a3a;
}.loader-block div:nth-child(4) {
  transform: rotate(120deg);
  animation-delay: -0.5555555555555556s;
  background: #3a3a3a;
}.loader-block div:nth-child(5) {
  transform: rotate(160deg);
  animation-delay: -0.4444444444444444s;
  background: #3a3a3a;
}.loader-block div:nth-child(6) {
  transform: rotate(200deg);
  animation-delay: -0.3333333333333333s;
  background: #3a3a3a;
}.loader-block div:nth-child(7) {
  transform: rotate(240deg);
  animation-delay: -0.2222222222222222s;
  background: #3a3a3a;
}.loader-block div:nth-child(8) {
  transform: rotate(280deg);
  animation-delay: -0.1111111111111111s;
  background: #3a3a3a;
}.loader-block div:nth-child(9) {
  transform: rotate(320deg);
  animation-delay: 0s;
  background: #3a3a3a;
}
.loader-block {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loader-block div { box-sizing: content-box; }


