.modal-window {
   display: flex;
   justify-content: center;
   position: fixed;
   left: 0;
   right: 0;
   top: 60px;
   bottom: 0;
   background-color: #f2f3f2;

   .login-wrapper {
      width: 626px;
      height: 408px;
      background-color: white;
      border-radius: 4px;
      margin-top: 40px;
      padding: 40px 109px;
      position: relative;

      &.error {
         height: 287px;
      }

      @include mobile {
         margin-top: 27px;
         padding: 40px 20px;
         width: 100%;
      }

      .login-form {
         .reset-password-link {
            text-align: center;

            a {
               @extend .body-16;
               color: $colorGray3;
            }
         }

         .email-label {
            margin-bottom: 17px;
         }

         .password-label {
            margin-bottom: 28px;
            position: relative;

            i {
               position: absolute;
               top: 20px;
               right: 13px;
               font-size: 24px;
               cursor: pointer;
            }
         }
      }
   }

   .restore-wrapper {
      width: 626px;
      height: 321px;
      background-color: white;
      border-radius: 4px;
      margin-top: 40px;
      padding: 40px 109px 29px 109px;
      position: relative;

      @include mobile {
         margin-top: 27px;
         padding: 40px 20px;
         width: 100%;
         height: 360px;
      }

      &.error {
         height: 287px;
      }

      &.success {
         height: 250px;
      }

      form {
         .button {
            margin-top: 28px;
         }

         .enter-link {
            @extend .body-16;
            text-align: center;

            a {
               color: $colorGray3;
            }
         }
      }
   }
}